@import url('https://fonts.googleapis.com/css2?family=Gudea:ital,wght@0,400;0,700;1,400&family=Lato:wght@100;300;400;700&family=Noto+Serif+KR&display=swap');

html {
    height: 600px;
    width: 700px;
    font-family: "Gudea", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(to right, #d3d3d3, #a9a9a9, #808080); 
    /* max: 800px */
}

.extContainer {
    display: flex;
    height: 585px;
    position: relative;
    overflow: hidden;
}

.bgContainer {
    background-image: url(/img/rightmenubg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center -1.75rem;
    height: 100%; /* Ensure the bgContainer takes up the full height of extContainer */
    width: 100%; /* Ensure the bgContainer takes up the full width of extContainer */
    position: absolute; /* Position it absolutely to sit behind other content */
    top: 0;
    left: 0;
    z-index: -1; /* Ensure it is behind the other content */
    padding-top: 3rem;
    padding-left: 3rem;
}

.versionContainer {
    position: absolute;
    right: 0.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.versionTxt {
    text-align: right;
    font-size: 0.7rem;
}


.leftMenu {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(
        139deg,
        rgba(20, 24, 27) 0%,
        rgba(20, 24, 27) 0%,
        rgba(21, 28, 40, 1) 100%
    );
    width: 25%;
    height: 100%;
    text-align: center;
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
    gap: 10px;
    transition: width 0.3s ease; /* Add this line */
}

.leftMenu.collapsed .leftMenuOption {
    opacity: 0; /* Hide text */
    pointer-events: none; /* Prevent interaction */
    transition: opacity 0.3s ease; /* Smooth transition */
}

.leftMenu.collapsed {
    width: 0px; /* Adjust this value as needed */
}

.leftMenuOption {
    opacity: 1;
    transition: opacity 0.3s ease;
    display: flex;
    font-size: 24px;
    background-color: rgba(36, 40, 50, 1);
    padding: 4px 7px;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    color: #b1b1b1;
    transition: all 0.3s ease-out;
    border-radius: 6px;
    gap: 10px;
}

.leftMenuOption:hover {
    background-color: rgba(36, 40, 50, 1);
    color: #ffffff;
    transform: translate(1px, -1px);
}

.leftMenuOption:active {
    transform: scale(0.99);
}


.leftMenuOption.active-menu-tab {
    background-color: rgb(172, 172, 172);
    color: white;
}

.leftMenuOption:first-of-type {
    margin-top: 4rem;
}

.rightItems {
    width: 75%;
    padding: 8px;
    transition: width 0.3s ease;
}

.headerText {
    font-family: "Gudea", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 36px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
}

.tab-content {
    display: none;
}

.active-tab {
    display: block;
}

#about-content {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 20px;
}

/* Container for switch and text */
.slider-container {
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding-bottom: 1rem;
}

/* The switch - the box around the slider */
.switch {
    font-size: 0.8rem;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 0, 0);
    transition: 0.4s;
    border-radius: 10px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 5px;
    left: 0.3em;
    bottom: 0.3em;
    background-color: white;
    transition: 0.4s;
}

.switch input:checked + .slider {
    background-color: green;
}

.switch input:checked + .slider:before {
    transform: translateX(1.5em);
}

/* Text next to slider */
.slider-text {
    margin-left: 10px;
}

/* Wrapper for the iframe */
.iframe-wrapper {
    overflow: hidden; /* Hide overflow to create a viewport */
    width: 90%; /* Set the desired width of the visible area */
    height: 300px; /* Set the desired height of the visible area */
    border: 1px solid #ccc; /* Optional: Add a border for visual clarity */
    position: relative; /* Ensure the positioning context is relative */
    margin: -9rem auto 0;
}

/* Viewport for the iframe */
.iframe-viewport {
    position: absolute;
    top: -260px; /* Adjust this value to move the iframe up or down */
    left: -40px; /* Adjust this value to move the iframe left or right */
    width: 550px; /* Set this to the actual width of the iframe content */
    height: 800px; /* Set this to the actual height of the iframe content */
}

/* Style the iframe itself */
.iframe-viewport iframe {
    width: 100%; /* Make the iframe take up the full width of its container */
    height: 100%; /* Make the iframe take up the full height of its container */
    border: none; /* Remove the default border */
}


.option-btn {
    width: 6rem;
    height: 1.5rem;
    font-size: 0.7rem;
    padding: 0.25rem;
    margin-left: 0.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.versionLog {
    font-size: 0.8rem;
    line-height: 1.5;
}

.versionSpan {
    line-height: 2;
    display: block;
}

.versionLogContainer {
    max-height: 300px;
    overflow-y: auto;
}

.versionLogContainer::-webkit-scrollbar, .codesContainer::-webkit-scrollbar {
    width: 12px;
}

.versionLogContainer::-webkit-scrollbar-track, .codesContainer::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.versionLogContainer::-webkit-scrollbar-thumb, .codesContainer::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    border: 2px solid #f1f1f1;
}

.versionLogContainer::-webkit-scrollbar-thumb:hover, .codesContainer::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Tooltip */

/* Tooltip container */
.tooltip-container {
    position: relative;
    display: inline-block;
    margin-left: 0.75rem;
  }
  
  /* Icon styling */
/* Icon styling */
.icon {
    width: 1.1rem;
    height: 1.1rem;
    display: inline-flex; /* Changed from 'flex' to 'inline-flex' */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
    vertical-align: middle; /* Added to align with text */
  }
  
  
  /* SVG Animation: Rotate and scale effect */
  .icon svg {
    transition: transform 0.5s ease-in-out;
  }
  
  .icon:hover svg {
    transform: rotate(360deg) scale(1.2);
  }
  
  /* Tooltip styling */
  .tooltip {
    font-size: 0.85rem;
    visibility: hidden;
    width: 200px;
    background-image: linear-gradient(
        139deg,
        rgba(20, 24, 27) 0%,
        rgba(20, 24, 27) 0%,
        rgba(21, 28, 40, 1) 100%
    );
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 0.2rem;
    position: absolute;
    bottom: 125%; /* Position above the icon */
    left: 50%;
    margin-left: -6.5rem; /* Center the tooltip */
    opacity: 0;
    transition:
      opacity 0.5s,
      transform 0.5s;
    transform: translateY(10px);
  }
  
  /* Tooltip Arrow */
  .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
  }
  
  /* Show tooltip on hover */
  .tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  
  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  
  .tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    animation: bounce 0.6s ease;
  }

  .codesContainer {
    height: 4rem;          /* Adjust the height as needed */
    overflow-y: auto;       /* Add vertical scroll if content overflows */
    border: 1px solid #ccc; /* Optional: Add a border for visual clarity */
    box-sizing: border-box; /* Ensure padding and border are included in the total height */    
  }
  